body
{
  background-color: black;
}
html
{
  background-color: black;
}

@media (min-width: 200px)  {
  .smallerFont {
    font-size: 0.7rem;
  }
  #bookInfo
  {
    flex-direction: column;
  }

}

@media (min-width: 500px)  {
  .smallerFont {
    font-size: 0.8rem;
  }
  #bookInfo
  {
    flex-direction: row;
  }
}
.btn-circle {
  border-radius: 50%;
  font-size: 0.7rem;
  text-align: center;
}
.table {
   text-align: center;
}
