body
{
  background-color: black;
  height:100%;
}
html
{
  background-color: black;
  height:100%;
}

@media (min-width: 200px)  {
  .smallerFont {
    font-size: 0.7rem;
  }
  #bookInfo
  {
    flex-direction: column;
  }

}

@media (min-width: 500px)  {
  .smallerFont {
    font-size: 0.8rem;
  }
  #bookInfo
  {
    flex-direction: row;
  }
}
.btn-circle {
  border-radius: 50%;
  font-size: 0.7rem;
  text-align: center;
}
table, td, th
{
  border-collapse: collapse;
}
.table th{
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}

.table td{
  text-align: center;
  vertical-align: middle;
}
.table-div
{
  height:100%;
}
